

body    {
    height: 1000px;
    background-image: url("../images/funky-lines.png");
}

  {
   
}

a   {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2  {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
    margin:15px;
    height: 200px;
    width: 200px;
}

p   {
    margin: 0px 15px 15px;
}

